.wrapper-card {
    position: relative;
    margin: 0 15px 200px 15px;
    height: auto;
    width: auto;
    &_img{
        transition: 0.3s;
        background-color: rgb(37, 37, 37);
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        height: auto;
    }
    &-general-info{
        transition: transform 0.3s;
        position: absolute;
        padding: 15px ;
        margin-top: 10px;
        width: 300px;
        top: 190px;
        z-index: 9999999999;
        height: auto;
        background-color: rgb(37, 37, 37);
        border-radius: 0 0 10px 10px;
    }
}

.wrapper-card:hover {
    .wrapper-card-general-info {
        height: auto;
        transform: scale(1.05);
    }

    .wrapper-card_img{
        transform: scale(1.05);
        border-radius: 10px 10px 0 0;
    }

    .buttons__card-wishlist{
        display: flex;
    }
    .buttons__card-more{
        display: flex;
    }
    .about-wrapper{
        display:contents;
    }
}
