.card_item {
    background-color: rgb(37, 37, 37);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    height: 100%;
}
.card_img{
    width: 300px;
    height: 190px;
}
.general_info{
    margin: 15px auto;
    width: 270px;
    background-color: unset;
}
.extended_info{
    background-color: rgb(37, 37, 37);
    display: none;
    position: absolute;
    bottom: -185px;
    z-index: 100;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    width: 300px;
    height: 185px;

}
.wrapper_card:hover {
    .extended_info{
        display: flex;
        transform: scale(1.05);
    }
    .card_item{
        transform: scale(1.05);
        border-radius: 10px 10px 0 0;
    }
    .buttons__card-wishlist{
        display: flex;
    }
    .buttons__card-more{
        display: flex;
    }
}

.wrapper_card {
    color: white;
    position: relative;
    margin: 15px;
}