.header{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding: 5px 0;
    a {
        transition: all .3s;
    }
}

.buttons__card{
    display: flex;
    margin-bottom: 10px;
    &-rating{
        transition: all .3s;
        display: flex;
        background-color: rgb(59, 59, 59);   
        border: none;
        border-radius: 4px;
        align-items: center;
        min-width: 34px;
        min-height: 24px;
        color: #fff;  
        padding: 0 8px;
        margin-right: 5px;
        cursor: pointer;
    }
    &-wishlist{
        align-items: end;
        min-width: 34px;
        min-height: 24px;
        transition: all .3s;
        display: none;
        width: 30px;
        height: 25px;
        border: none;
        background-color: rgb(59, 59, 59);   
        border-radius: 4px;
        margin-right: 5px;
        cursor: pointer;
    }
    &-more{
        align-items: self-end;
        justify-content: center;
        min-width: 34px;
        min-height: 24px;
        transition: all .3s;
        display: none;
        width: 30px;
        height: 25px;
        border: none;
        color: #fff;  
        font-size: 30px;
        background-color: rgb(59, 59, 59);   
        border-radius: 4px;
        margin-right: 5px;
        cursor: pointer;

    }
}

.header a:hover{
    color: hsla(0,0%,100%,.4);
}

.buttons__card-rating:hover{
    .rating-img{
        filter: invert(100%);
    }
    background-color: #fff;
    color: black

}
.buttons__card-wishlist:hover{
    .wishlist-img {
        filter: invert(100%);
    }
    background-color: #fff;
    color: black

}

.buttons__card-more:hover{
    background-color: #fff;
    color: black
}

.rating-img{
    background-image:url('../../../../assets/icons/plus_icon.svg');
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
}
.wishlist-img{
    background-image: url('../../../../assets/icons/wish_icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}
.rating{
    padding-left: 8px;
}

.about-game-platforms{
    display: flex;
    &_icon{
        margin-right: 5px;
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
    }
    .pc{
        width: 15px;
        background-image: url('../../../../assets/icons/windows-174-svgrepo-com.svg');
    }
    .playstation{
        background-image: url('../../../../assets/icons/play-station-logo-svgrepo-com.svg');
    }
    .xbox {
        width: 15px;
        background-image: url('../../../../assets/icons/xbox-svgrepo-com.svg');
    }
    .mac {
        width: 16px;
        background-image: url('../../../../assets/icons/apple-logo-svgrepo-com.svg');
    }
    .linux {
        width: 16px;
        background-image: url('../../../../assets/icons/linux-svgrepo-com.svg');
    }
    .android {
        width: 16px;
        background-image: url('../../../../assets/icons/android-droid-material-svgrepo-com.svg');
    }
    .ios{
        width: 15px;
        background-image: url('../../../../assets/icons/tablet-ios-svgrepo-com.svg');
    }
}
