.search-form-result{
    opacity: 90%;
    min-height: 250px;
    padding: 5px;
    &-item{
        padding: 8px 0;
        &-name{
            width: 100%;
                &_link{
                width: 100%;
        }
    }
    
    
}}